body, canvas, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
    margin: 0;
    padding: 0
}

body, html
{
    display:block;
    margin: 0!important;
    padding: 0!important;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    background-color: #2D3132;
}

@font-face {
    font-family: 'DIGI';
    src: url('../fonts/DS-DIGI.TTF');
}

.level1 {
    /*color: rgb(59, 174, 237);*/
    color: #3BAEED
}
.level2 {
    /*color: rgb(242, 129, 192);*/
    color: #F281C0;
}
.level3 {
    /*color: rgb(249, 32, 54);*/
    color: #F92036;
}

.stage{
    font-family: "DIGI";
    background-color: #2D3132;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border : 0;
}